<!-- Header -->
<mat-toolbar color="accent" class="no-print">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <!-- <span>Ets Logo</span> -->
    <button mat-button [routerLink]="['/home']"  >Home</button>
    <button mat-button [routerLink]="['/client']">Clients</button>
    <button mat-button [routerLink]="['/devis']">Devis</button>
    <span class="spacer"></span>

    <!-- <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button> -->

  </mat-toolbar>
  