<mat-tab-group mat-stretch-tabs="true" #devisTab [(selectedIndex)]="tabIndex">
  <mat-tab label="Dashboard"> Dashboard </mat-tab>
  <mat-tab label="Ajouter un Devis ">
    <mat-card class="layout" fxLayout="column" class="m16">
      <create-devis (devisEmitter)="getCreatedDevis($event)"></create-devis>
    </mat-card>
  </mat-tab>
  <mat-tab label="Affichage" class="no-print">
    <devis-display></devis-display>
  </mat-tab>
</mat-tab-group>

















<!-- <nav mat-tab-nav-bar>
  <a mat-tab-link *ngFor="let tabItem of devisTabItems" [routerLink]="tabItem.route" routerLinkActive
    #rla="routerLinkActive" [active]="rla.isActive">
    {{tabItem.label}}ddd
  </a>
</nav> -->